<!DOCTYPE html>
<html>
	<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/fantasque-sans-mono" type="text/css"/>
	<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/beon" type="text/css"/>
	<script src="content/scripts/jquery.js"></script>
	<script src="content/scripts/main.js"></script>

	<head>
			<meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
			<meta name="viewport" content="width=device-width">
			<title>Slides</title>
			
			<link rel="icon" href="content/logo2.png">
			<link href="content/modest.css" rel="stylesheet">
			<link href="content/frontpage.css" rel="stylesheet">
			<style type="text/css" id="_bftn_iframe_css"></style>
	</head>
	<body>
	<div id="parent">
	